.DS_Store
node_modules/
.env
.vscode/

uploads/adoptions/*.jpeg
uploads/adoptions/*.jpg
uploads/adoptions/*.png
uploads/adoptions/*.webp

uploads/complains/*.jpeg
uploads/complains/*.jpg
uploads/complains/*.png
uploads/complains/*.webp

uploads/missing-animals/*.jpeg
uploads/missing-animals/*.jpg
uploads/missing-animals/*.png
uploads/missing-animals/*.webp

uploads/rescues/*.jpeg
uploads/rescues/*.jpg
uploads/rescues/*.png
uploads/rescues/*.webp