.DS_Store
node_modules/
.env
.vscode

src/pictures/adoptions/*.jpeg
src/pictures/adoptions/*.jpg
src/pictures/adoptions/*.png
src/pictures/adoptions/*.webp

src/pictures/complains/*.jpeg
src/pictures/complains/*.jpg
src/pictures/complains/*.png
src/pictures/complains/*.webp

src/pictures/missing-animals/*.jpeg
src/pictures/missing-animals/*.jpg
src/pictures/missing-animals/*.png
src/pictures/missing-animals/*.webp

src/pictures/rescues/*.jpeg
src/pictures/rescues/*.jpg
src/pictures/rescues/*.png
src/pictures/rescues/*.webp